<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.helfoome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".HFMApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthFoodMe"
        android:usesCleartextTraffic="true"
        tools:targetApi="32">
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.scrap.MapSelectActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.WithdrawalActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.drawer.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.scrap.MyScrapActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.drawer.MyReviewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.drawer.ProfileModifyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.LoginActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao8483f545857597ac5a551516e471a131" />
            </intent-filter>
        </activity> <!-- leakcanary 안드로이드 12 부터 버전충돌 문제 해결 -->
        <activity-alias
            android:name="leakcanary.internal.activity.LeakLauncherActivity"
            android:exported="false"
            android:targetActivity="leakcanary.internal.activity.LeakActivity" />

        <activity
            android:name=".presentation.MainActivity"
            android:exported="false" />
    </application>

</manifest>